@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background: #F3F5FC;
     font-family: 'Inter', sans-serif;
     min-height: 100vh;
}

main {
     background-color: white;
     min-height: 90vh;
}

.logoSitio {
     width: 200px;
     position: relative;
     top: 30px;
     left: 30px;
}

textarea {
     width: 600px;
     position: relative;
     top: 100px;
     left: 130px;
     resize: none;
     background-color: whitesmoke;
     border: none;
     padding: 1rem;
     font-family: 'Inter', sans-serif;
     font-size: 12px;
     color: #0A3871;
}

textarea::placeholder {
     font-family: 'Inter', sans-serif;
     font-size: 18px;
     color: #0A3871;
}

#contenedorMensaje {
     position: relative;
     width: -moz-fit-content;
     width: fit-content;
     margin-bottom: 5px;
}

#contenedorMensaje>svg {
     display: inline-block;
}

#contenedorMensaje>p {
     display: inline-block;
}

.contenedorBotones {
     position: relative;
     width: -moz-fit-content;
     width: fit-content;
     left: 130px;
     margin-top: 20%;
}

.botones {
     width: 300px;
     height: 67px;
     border-radius: 24px;
}

.encriptar {
     background-color: #6C63FF;
     font-size: 16px;
     font-weight: 500;
     color: white;
     transition: all 0.2s ease-out;
}

.encriptar:hover {
     background-color: white;
     font-size: 16px;
     color: #6C63FF;
     box-shadow: 5px 5px 8px rgb(56, 3, 113);
}

.desencriptar {
     background-color: #D8DFE8;
     font-size: 16px;
     font-weight: 500;
     color: #3F3D56;
     transition: all 0.2s ease-out;
}

.desencriptar:hover {
     background-color: #6C63FF;
     font-size: 16px;
     color: white;
     box-shadow: 5px 5px 8px rgb(56, 3, 113);
}

#contenedorDerechoSinTexto {
     background-color: whitesmoke;
     position: absolute;
     width: 395px;
     top: 50px;
     right: 50px;
     padding-top: 150px;
     padding-bottom: 150px;
     border-radius: 24px;
     box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.08);
}

#contenedorDerechoSinTexto > h2 {
     text-align: center;
     width: 80%;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     font-weight: bold;
     margin-bottom: 20px;
     font-size: large;
     color: #6C63FF;
}

#contenedorDerechoSinTexto > p {
     text-align: center;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     font-style: italic;
}

#imgContenedorDerechoSinTexto {
     display: block;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
}

#contenedorDerechoResultado {
     background-color: whitesmoke;
     position: absolute;
     width: 395px;
     top: 30px;
     right: 30px;
     padding-top: 150px;
     padding-bottom: 150px;
     border-radius: 24px;
     visibility: hidden;
}

#contenedorDerechoResultado > h2 {
     text-align: center;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     font-weight: bold;
     margin-bottom: 20px;
     font-size: large;
     color: #6C63FF;
}

#contenedorDerechoResultado > p {
     text-align: center;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     font-style: italic;
}

#imgContenedorDerechoResultado {
     display: block;
     height: 300px;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
}

.copiar {
     display: block;
     background-color: #D8DFE8;
     font-size: 16px;
     font-weight: 500;
     color: #3F3D56;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     transition: all 0.2s ease-out;
}

.copiar:hover {
     background-color: #6C63FF;
     font-size: 16px;
     color: white;
     box-shadow: 5px 5px 8px rgb(56, 3, 113);
}

#mensajeTextoCopiado {
     color: #FF6584;
     margin-top: 20px;
     font-weight: bold;
     transition: all 0.2s ease-out;
}

footer {
     background: #6C63FF;
     height: 10vh;
}